<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.Goval.FacturaDigital.Beta">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="27" />
	<application android:label="Factura Goval Beta" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>